/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/libraries/Maven__com_google_protobuf_protobuf_java_3_6_12.xml
/.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
/.idea/libraries/Maven__mysql_mysql_connector_java_8_0_16.xml
/.idea/libraries/Maven__mysql_mysql_connector_java_8_0_162.xml
/.idea/libraries/Maven__org_springframework_spring_aop_5_3_2.xml
/.idea/libraries/Maven__org_springframework_spring_aop_5_3_22.xml
/.idea/libraries/Maven__org_springframework_spring_beans_5_3_2.xml
/.idea/libraries/Maven__org_springframework_spring_context_5_3_2.xml
/.idea/libraries/Maven__org_springframework_spring_context_5_3_22.xml
/.idea/libraries/Maven__org_springframework_spring_core_5_3_3.xml
/.idea/libraries/Maven__org_springframework_spring_expression_5_3_2.xml
/.idea/libraries/Maven__org_springframework_spring_expression_5_3_22.xml
/.idea/libraries/Maven__org_springframework_spring_jcl_5_3_2.xml
/.idea/libraries/Maven__org_springframework_spring_jcl_5_3_3.xml
/.idea/libraries/Maven__org_springframework_spring_jdbc_5_3_3.xml
/.idea/libraries/Maven__org_springframework_spring_tx_4_3_29_RELEASE2.xml
/.idea/libraries/Maven__org_springframework_spring_tx_5_3_3.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_29_04_21,_10_03_PM_[Default_Changelist]/shelved.patch
/SpringCore.iml
/target/classes/com/springcore/entities/Student.class
/target/classes/com/springcore/dao/StudentDao.class
/target/classes/com/springcore/dao/StudentDaoImpl$1.class
/target/classes/com/springcore/dao/StudentDaoImpl.class
/.idea/uiDesigner.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_29_04_21__10_03_PM__Default_Changelist_.xml
/.idea/vcs.xml
/.idea/workspace.xml
